
.add-data-container3 {
    max-width: 400px;
    margin: 100px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
  }
  
  .add-data-container3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group3 {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .form-group3 label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  

  .form-group input[type="text"],
  .form-group input[type="url"],
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group input[type="text"],
  .form-group input[type="url"]{
    width: 95%;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  